# Optional Exercise - Data loading

Heres a very short example for four files to load in. None of these example should be hard, but the idea is to familiarise yourself with the sorts of error messages or weird output you'd get if you load in with the defaults (and they don't work), and then how to change your input arguments to make it better.

The files to attempt to load in are:

1. example.pkl
2. example_1.csv
3. example_2.csv
3. example_3.csv
3. example_4.csv

In [2]:
import pandas as pd

In [4]:
# Load example.pkl
df1 = pd.read_pickle('example.pkl')
df1.head()

      name  gender   age  oaths
0  Kaladin    Male  20.0    3.0
1  Shallan  Female  17.0    2.0
2  Dalinar    Male  53.0    3.0
3    Szeth    Male  35.0    0.0
4     Hoid    Male   NaN    NaN

In [5]:
# Load example_1.csv
df2 = pd.read_csv('example_1.csv')
df2.head()

      name  gender   age  oaths
0  Kaladin    Male  20.0    3.0
1  Shallan  Female  17.0    2.0
2  Dalinar    Male  53.0    3.0
3    Szeth    Male  35.0    0.0
4     Hoid    Male   NaN    NaN

In [16]:
# Load example_2.csv
df3 = pd.read_csv('example_2.csv', sep='\\t', engine='python')
df3.head()

      name  gender   age  oaths
0  Kaladin    Male  20.0    3.0
1  Shallan  Female  17.0    2.0
2  Dalinar    Male  53.0    3.0
3    Szeth    Male  35.0    0.0
4     Hoid    Male   NaN    NaN

In [19]:
# Load example_3.csv
df4 = pd.read_csv('example_3.csv')
df4.drop('Unnamed: 0', axis=1, inplace=True)
df4.head()

      name  gender   age  oaths
0  Kaladin    Male  20.0    3.0
1  Shallan  Female  17.0    2.0
2  Dalinar    Male  53.0    3.0
3    Szeth    Male  35.0    0.0
4     Hoid    Male   NaN    NaN

In [26]:
# Load example_4.csv
df5 = pd.read_csv('example_4.csv', sep='|', skiprows=1, comment='#')
df5.head()

      name  gender   age  oaths
0  Kaladin    Male  20.0    3.0
1  Shallan  Female  17.0    2.0
2  Dalinar    Male  53.0    3.0
3    Szeth    Male  35.0    0.0
4     Hoid    Male   NaN    NaN