In [1]:
# import libraries
import sqlite3
import pandas as pd
import os
import ast

In [2]:
# setup sqlite connection
con = sqlite3.connect('../airflow/airflow.db')
cur = con.cursor()

In [4]:
# prepare player files and load into df
file_list = os.listdir('../RawText')
game_files = [x for x in file_list if x.startswith('games')]
li = []
for file in game_files:
    df=pd.read_csv(f'../RawText/{file}')
    li.append(df)
games_raw = pd.concat(li)

In [6]:
# extract teamid from team dictionary
games_raw['HomeTeamID'] = games_raw.apply(lambda row: ast.literal_eval(row['home_team'])['id'], axis=1)

In [7]:
games_raw.head()

,id,date,home_team,home_team_score,period,postseason,season,status,time,visitor_team,visitor_team_score,HomeTeamID
0,127502,2020-12-22T00:00:00.000Z,"{'id': 3, 'abbreviation': 'BKN', 'city': 'Broo...",125,4,False,2020,Final,NaN,"{'id': 10, 'abbreviation': 'GSW', 'city': 'Gol...",99,3
1,127503,2020-12-22T00:00:00.000Z,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",109,4,False,2020,Final,NaN,"{'id': 13, 'abbreviation': 'LAC', 'city': 'LA'...",116,14
2,127519,2020-12-25T00:00:00.000Z,"{'id': 16, 'abbreviation': 'MIA', 'city': 'Mia...",111,4,False,2020,Final,NaN,"{'id': 19, 'abbreviation': 'NOP', 'city': 'New...",98,16
3,127526,2020-12-26T00:00:00.000Z,"{'id': 30, 'abbreviation': 'WAS', 'city': 'Was...",120,4,False,2020,Final,NaN,"{'id': 22, 'abbreviation': 'ORL', 'city': 'Orl...",130,30
4,127504,2020-12-23T00:00:00.000Z,"{'id': 6, 'abbreviation': 'CLE', 'city': 'Clev...",121,4,False,2020,Final,NaN,"{'id': 4, 'abbreviation': 'CHA', 'city': 'Char...",114,6

In [ ]:
# prepare player files and load into df
file_list = os.listdir('../RawText')
player_files = [x for x in file_list if x.startswith('players')]
li = []
for file in player_files:
    df=pd.read_csv(f'../RawText/{file}')
    li.append(df)
players_raw = pd.concat(li)